<title>Mark Submission</title>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://www.icloud.com/iclouddrive/0c3r4UAaKrL283TIcYX-DzX5g#stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <style>
        
    body{
      background-image: url("https://marketplace.canva.com/EAFKazjWmMg/1/0/1600w/canva-minimalist-abstract-desktop-wallpaper-8vx5pcfhbAM.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      font-family: Raleway, sans-serif;
      font-weight: 400;
      color: #ffffff;
      margin: 0;
      padding: 0; /* Center text horizontally */
      display: flex;
      align-items: center;
      justify-content: center;}
    h1{
        
    font-family: Raleway, sans-serif;
    font-size: 70px;
    font-weight: 500;
    width: 50vw;
    height: 20vh;
    padding: 10px;
      background-color: rgb(218, 247, 166);
      text-align: center; /* Center text horizontally */
      display: flex; /* Add flexbox */
      justify-content: center; /* Center text vertically */
      align-items: center;
      border-radius: 10px;
    }
    
    h2{
        font-size: small;
    }
    
    p{
        font-size: smaller;
        font-weight: 200;
    }
    
    li{
    
        font-size: medium;
        width: 50vw;
      height: 30vh;
      padding: 10px;
      background-color: rgb(218, 247, 166);
      border-radius: 10px;
    }
    
    ul{
        font-size: small;
    
    }
    
    button{
        font-family: Raleway, sans-serif;
        font-size: 25px;
        font-weight: 400;
        padding: 5px;
        background-color: rgb(255, 195, 0);
        width: 25vw;
      height: 7vh;
      text-align: center; /* Center text horizontally */
      display: flex; /* Add flexbox */
      justify-content: center;
      border-radius: 10px;
    
    }
    
    div{
        font-size: 25px;
        width: 40vw;
      height: 10vh;
      padding: 10px;
      background-color: rgba(144, 12, 63);
      text-align: center; /* Center text horizontally */
      display: flex; /* Add flexbox */
      border-radius: 10px;
      gap: 10px;
      
    }
    
    a {
        font-family: Raleway, sans-serif;
        font-size: 25px;
        text-decoration: none;
        font-weight: 400;
        text-align: center;
      }
    
      form{
        font-size: 25px;
        border-radius: 10px;
        width: 50vw;
      height: 30vh;
      padding: 10px;
      background-color: rgb(88, 24, 69);
      display:flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      /* Add flexbox */ /* Center text vertically */
      }
      label {
      margin-bottom: 5px;
    }
    
      .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    .register-link {
      margin-top: 10px;
    }
    .register-link a {
      display: inline-block;
      font-size: smaller;
      text-decoration: none;
    }
      .container {
      display: flex;
      flex-direction: column;
      column-gap: 10px;
      gap: 5px;
      align-items: center;
      width: 70vw;
      height: 40vw;
      background-color: rgb(178, 106, 35);
      border-radius: 10px;
    }
    input2{
        width: 10vw;
      height: 5vh;
      padding: 2px;
      border-radius: 5px;
    }
    input{
        width: 10vw;
      height: 5vh;
      padding: 2px;
      border-radius: 5px;
    }
        </style>
  <style>
    #pdf-viewer {
      overflow-y: scroll;
      height: 100vh;
    }
    canvas {
      display: block;
      margin: 16px auto;
    }
  </style>
  <script>
    function loadPDF(url) {
      fetch(url)
        .then(response => response.arrayBuffer())
        .then(data => {
          pdfjsLib.getDocument(data).promise
            .then(pdf => {
              const viewer = document.getElementById('pdf-viewer');
              
              for (let i = 1; i <= pdf.numPages; i++) {
                pdf.getPage(i).then(page => {
                  const canvas = document.createElement('canvas');
                  const context = canvas.getContext('2d');
                  const viewport = page.getViewport({ scale: 1 });

                  canvas.width = viewport.width;
                  canvas.height = viewport.height;

                  page.render({
                    canvasContext: context,
                    viewport: viewport
                  });

                  viewer.appendChild(canvas);
                });
              }
            });
        })
        .catch(error => {
          console.error(error);
        });
    }

    loadPDF('/download/<%= subbed.file %>'); 
  </script>
</head>
<ul>
    <li>
      <a href="/download/<%= subbed.file %>"><%= subbed.file%></a>
     <div id="pdf-viewer"></div>
    </li>
</ul>


    <form action="/marksSubmission/<%= subbed._id %>" method="post">
        <h1>Submit Grades</h1>
        <label>Grade:</label>
        <input type="text" id="grade" name="grade" ><br>
        
        <label>Mark:</label>
        <input type="number" id="mark" name="mark" ><br>
        
        <input type="submit" value="Submit">
    </form>
    <button><a href="/viewSubmissions/<%= subbed._id %>">BACK</a></button>
