<!DOCTYPE html>
<html>
<head>
  <title>Create Teacher</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.icloud.com/iclouddrive/0c3r4UAaKrL283TIcYX-DzX5g#stylesheet">
    <style>
      .profile-icon {
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
      border-radius: 10px;
      height: 30px;
      width: 30px;
      align-items: center;
      justify-content: center;
      
         /* Add your desired icon styles */
  }
  
  /* Styles for the sidebar */
  .sidebar {
      position: fixed;
      top: 90;
      bottom: 50;
      right: -300px; /* Off-canvas initially */
      width: 200px;
      height: 60vh;
      background-color: #b78d95;
      transition: right 0.3s ease-in-out; /* Smooth transition animation */
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10px;
  
     
    
      
      /* Add your desired sidebar styles */
  }
  
  .sidebar.active {
      right: 0; /* Show the sidebar when active */
  }
      body{
        background-image: url("https://4kwallpapers.com/images/wallpapers/texture-dark-background-purple-2732x2732-3086.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Raleway, sans-serif;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding: 0; /* Center text horizontally */
        display: flex;
        align-items: center;
        justify-content: center;}
      h1{
          
      font-family: Raleway, sans-serif;
      font-size: 40pt;
      font-weight: 400;
      width: 60vw;
      height: 10vh;
      padding: 10px;
      background-color: rgb(110, 10, 48);
        text-align: center; /* Center text horizontally */
        display: flex; /* Add flexbox */
        justify-content: center; /* Center text vertically */
        align-items: center;
        border-radius: 10px;
      margin-left: -5vw;
      }
      .second{
        width: 55vw;
        font-size: 25pt;
        height: 5vh;
        justify-content: left;
        background-color: #e8af30;
        color: black;
      }
      h2{
          width: 20vw;
          height: 5vh;
          font-size: 20pt;
          font-weight: 600;
          background-color: #30003D;
          color: #ffffff;
          display: flex;
          position: fixed;
          top:-35;
          justify-content: center;
          border-radius: 10px;
          margin-top: -1vh;
      }
  
      h3{
        width: 10vw;
          height: 7vh;
          font-size: 30pt;
          font-weight: 600;
          color: #ffffff;
          display: flex;
          position: fixed;
          top:-35;
          margin-left: -250pt;
      }
      
      p{
          font-size: smaller;
          font-weight: 200;
      }
      
      li{
      
          font-size: 25pt;
          font-weight: 700;
          width: 13vw;
        height: 7vh;
        background-color: #F7E7CE ;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 0pt;
        margin-bottom: 115pt;
        margin-left: 2px;
        list-style: none;
        
      }
      
      ul{
          font-size: small;
      
      }
      
      button{
          font-family: Raleway, sans-serif;
          font-size: 25px;
          font-weight: 500;
          padding: 5px;
          background-color: rgb(255, 195, 0);
          width: 13vw;
        height: 5vh;
        margin-left: 5px;
        text-align: center; /* Center text horizontally */
        display: flex; /* Add flexbox */
        justify-content: center;
        border-radius: 10px;
        
      
      }
      div{
          font-size: 25px;
          width: 40vw;
        height: 10vh;
        padding: 10px;
          font-weight: 400;
          background-color: #b78d95;
                text-align: center; /* Center text horizontally */
        display: flex; /* Add flexbox */
        border-radius: 10px;
        gap: 10px;
        
      }
      
      a {
        width: 40vw;
        height: 10vh;
          font-family: Raleway, sans-serif;
          font-size: 25px;
          text-decoration: none;
          font-weight: 500;
          text-align: center;
        }
      
        label {
        margin-bottom: 5px;
        font-size: 10pt;
        font-family: Raleway;
      }
      
        .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
      .register-link {
        margin-top: 10px;
      }
      .register-link a {
        display: inline-block;
        font-size: smaller;
        text-decoration: none;
      }
        .container {
        display: flex;
        flex-direction: column;
        column-gap: 1px;
        gap: 1px;
        align-items: center;
        width: 70vw;
        height: 45vw;
        background-color: rgb(75, 0, 130,0.75);
        border-radius: 10px;
        margin-top: 40pt;
        margin-bottom: 10pt;
        text-align: left;
        
      }
      .input2{
          width: 10vw;
        height: 5vh;
        padding: 2px;
        border-radius: 5px;
        margin-top: 10pt;
      }
      input{
          width: 10vw;
        height: 5vh;
        padding: 2px;
        border-radius: 5px;
        margin-top: 10pt;
      }
      table{
        font-size: 25px;
          width: 50vw;
        height: 40vh;
        padding: 10px;
          font-weight: 400;
          background-color: #e8af30;
        text-align: center; /* Center text horizontally */
        display: flex; /* Add flexbox */
        border-radius: 10px;
        gap: 0px;
        border-collapse: collapse;
        justify-content: center; /* Merge borders for adjacent cells */
        color: black;
    /* Adjust the width as needed */
  }
  
      
      tr{
        width: 40vw;
        border: 2px solid black;
        height: inherit;
        column-gap: 10pt;
        
    padding: 8px; /* Adjust the padding as needed */
  
  
      }
      td{
        width: 35vw;
        height: 5px;
        border: 2px solid black;
        justify-content: center;
        padding: 5px;
        
      }
  
      h4{
        width: 54vw;
        height: 7vh;
        border-radius: 10px;
        background-color: rgb(110, 10, 48);
        color: white;
  
      }
          </style>
  </head>

  <style>
    .add-subject-btn {
      background: none;
      border: none;
      cursor: pointer;
      color: #007bff;
      font-size: 20px;
      display: flex;
      align-items: center;
    }

    .remove-subject-btn {
      background: none;
      border: none;
      cursor: pointer;
      color: #dc3545;
      font-size: 20px;
      display: flex;
      align-items: center;
    }
    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }
    .popup-content {
      background-color:#7f00a1;
      padding: 20px;
      border-radius: 5px;
      max-width: 300px;
    }
    .popup-content input[type="password"] {
      width: 100%;
      height: 3vh;
      padding: 10px;
      margin-bottom: 10px;
    }
    .popup-content button {
      padding: 10px 20px;
      background-color:#30003D;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  </style>
  <script>
    // Function to add more subject fields
    function addSubject() {
      
      const subjectsContainer = document.getElementById('subjectsContainer');
      const subjectIndex = subjectsContainer.children.length + 1;
      const subjectDiv = document.createElement('div');
      subjectDiv.innerHTML = `
      <label for="subject${subjectIndex - 6}">Subject ${subjectIndex - 6}:</label>
        <input type="text" id="subject${subjectIndex - 6}" name="subjects[${subjectIndex - 7}][name]" required>
        <label for="years${subjectIndex - 6}">Years (separated by commas):</label>
        <input type="text" id="years${subjectIndex - 6}" name="subjects[${subjectIndex - 7}][years]" required><br><br>
        <button type="button" class="remove-subject-btn" onclick="removeSubject(this)"><i class="fas fa-times"></i></button><br><br>
      `;
      
      subjectsContainer.appendChild(subjectDiv);
    }

    function removeSubject(button) {
      const subjectDiv = button.parentNode;
      subjectDiv.remove();
    }

    function showPasswordPopup() {
      const overlay = document.getElementById('popupOverlay');
      overlay.style.display = 'flex';
    }

    // Function to hide the password popup
    function hidePasswordPopup() {
      const overlay = document.getElementById('popupOverlay');
      overlay.style.display = 'none';
    }

    // Function to validate the password
    function validatePassword() {
      const passwordInput = document.getElementById('lockpassword');
      const lockpassword = passwordInput.value;
      if (lockpassword === '76376835') {
        hidePasswordPopup();
      } else {
        alert('Wrong password! Please try again.');
      }
    }

    window.onload = function(){
        showPasswordPopup();
    };
  </script>
  <body>
    
  <div class="container" style="height: 60vh;padding-left: 5vw;">
  <h1>Create Teacher</h1>
  <div id="popupOverlay" class="popup-overlay" >
    <div class="popup-content" style="height: 20vh;">
      <h2>Enter Password</h2>
      <input type="password" id="lockpassword" placeholder="Enter Teacher Lock" style="margin-top: 40pt">
      <button onclick="validatePassword()" style="margin-top: 45pt;">Submit</button>
    </div>
  </div>
  <form action="/registerteacher" method="POST">
    <label for="name" style="font-size: 20pt;">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="email" style="font-size: 20pt;">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password" style="font-size: 20pt;">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <div id="subjectsContainer" class="container" style="background-color: transparent;height: 10vh;"><br><br><br><br><br><br>
        <% if (Array.isArray(subjects) && subjects.length > 0) { %>
          <% for (let i = 0; i < subjects.length; i++) { %>
            
            <label for="subject<%= i + 1 %>">Subject <%= i %>:</label>
            <input type="text" id="subject<%= i + 1 %>" name="subjects[<%= i %>][name]" required>
            <label for="years<%= i + 1 %>">Years (separated by commas):</label>
            <input type="text" id="years<%= i + 1 %>" name="subjects[<%= i %>][years]" required><br><br>
            <button type="button" class="remove-subject-btn" onclick="removeSubject(this)"><i class="fas fa-minus" style="margin-left: 50vw;"></i></button>
          <% } %>
        <% } %> 
      </div>
      <h4>Click the plus to add your subjects</h4>
      <button type="button" class="add-subject-btn" onclick="addSubject()"><i class="fas fa-plus"></i></button><br><br>
      <input type="submit" value="Create Teacher" style="color:#ffffff;width: 12vw;height: 5vh;background-color:#1f0440; border-radius: 5pt; font-family: Raleway;font-size: 15pt;">
    

    

    
  </form></div>
</body>
</html>
